
.main-container{
    padding: 2rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    gap: 10px;
}

.cake-card{
    width: 20rem;
    height: 18rem;
}